# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Logs and temp files
*.log
*.env

# Airflow specific
logs/
data/
postgres-db-volume/

# IDE and system files
.vscode/
.cursor/
.DS_Store
Thumbs.db
desktop.ini

# OneDrive
*.lnk
~$*
